$color-principal: grey;
$color-secundario:  rgb(86, 86, 87);
$color-terciario:wheat;
$color-titulovermejor: rgb(80, 80, 81);
$color-solohero:rgb(247, 207, 132);
$color-before:rgba(246, 248, 248, 0.247);
$color-otrobefore: rgba(246, 248, 248, 0.404);